<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    @Scripts.Render("~/Scripts")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/SPA")
    @Scripts.Render("~/SPA/Controllers")
    <title>Stream Auctioneer</title>
</head>
<body ng-app="mainModule" ng-controller="AuthController as authCtrl">
    <section>
        <div class="row">
            <div class="col-md-3">
                <div left-view></div>
            </div>

            <div class="col-md-9">
                <div right-view></div>
            </div>
        </div>
    </section>
    <footer> <center>a valiman production</center> </footer>
</body>
</html>