<div ng-controller="TabsController as tabCtrl">
    <p>
        <button type="button" class="btn btn-default" ng-class="{active:leftTab==1}" ng-click="leftTab = 1">KniX</button>
        <button type="button" class="btn btn-default" ng-class="{active:leftTab==2}" ng-click="leftTab = 2">History</button>
        <button type="button" class="btn btn-default" ng-class="{active:leftTab==3}" ng-click="leftTab = 3">Chat</button>
        <br />
        <selection style="border:1px; border-color:white;">
            Test
            <ul>
                List
                <li>A</li>
                <li>A</li>
            </ul>
        </selection>
    </p>
</div>