<div id="modal">
    <div class="modal-header">
        <center>
            <h2 center>Buyout</h2>
        </center>
    </div>
    <div class="modal-body">
        <center>
            You've decided to Buyout on <i>{{dataObject.userName}}</i>
        </center>
        <ul>
            <li>Price: {{dataObject.price | currency}}</li>
            <li>Avg. Viewers: {{dataObject.avgViewers}}</li>
            <li>Highest Bid: {{dataObject.highestBid}}</li>
            <li>User Rating: {{dataObject.userRating}}</li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default pull-left" ng-click="cancel()">Cancel</button>
        <button class="btn btn-default pull-right" ng-click="ok()">Buyout</button>
    </div>
</div>