<div class="container-fluid">
    <div id="modal">
        <div class="modal-header">
            <center>
                <h2 center>{{dataObj.typeName}}</h2>
            </center>
        </div>
        <div class="modal-body">
            <center>
                You've decided to {{dataObj.typeName}} on <i>{{dataObj.userName}}</i>
            </center>
            <ul>
                <li>Price: {{dataObj.price | currency}}</li>
                <li>Avg. Viewers: {{dataObj.avgViewers}}</li>
                <li>Highest Bid: {{dataObj.highestBid}}</li>
                <li>User Rating: {{dataObj.userRating}}</li>
            </ul>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default pull-left" ng-click="cancel()">Cancel</button>
            <button class="btn btn-default pull-right" ng-click="ok(dataObj.typeName)">{{dataObj.typeName}}</button>
        </div>
    </div>
</div>