p {
    padding: 10px 10px 0px;
}

pre {
    background-color: white;
    white-space: normal;
    margin: 0 0 0 5px;
}

#bidValue {
    max-width: 70px !important;
}

.auction-form {
    margin: -12px 0 0 0;
}


/* Temp color, too bright x_x! */
body {
    margin: 0 auto;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #cfd2da;
    background-color: #252830;
    max-width: 70%;
}

#auctionTable td {
    color: black;
}

#modal {
    color: #000000;
}
/*
.button {
    background-color: #434857;
}
    */
